h1 {
	text-align: center;
	font-family: arial;
	font-size: 454px;
	color:lightblue;
}
p {
	text-align: center;
	background-color: white;
	color:black;
}

.italic {
	font-style: italic;
	font-size: 11px;
	color: darkblue;
	background-color: white;
}
#id1 {
	background-color: blue;
}